.btn-cancelarSancion{
    margin: 15px;
    border-radius: 10px;
    border: 10px;
    border-color: black;
    background-color: #FB2576;
    color: whitesmoke;
}
.btn-cancelarSancion:hover{
    border: 2ch;
    color: #FB2576;
    background-color: aliceblue;
}

.btn-mensajes{
    margin:15px;
    height: auto;
    display:inline-flex;
    margin: 15px;
    border-radius: 10px;
    border: 10px;
    border-color: black;
    background-color: #177980;
    color: whitesmoke;
}
.btn-mensajes:hover{
    border: 2ch;
    color: #5af0d7;
    background-color: black;
}